.cls-1 {
  fill: url(#linear-gradient);
}

.cls-2,
.cls-3 {
  fill: #0b9ff2;
}

.cls-2 {
  opacity: 0.69;
}

.cls-4 {
  opacity: 0.71;
  fill: url(#linear-gradient-2);
}

.cls-5 {
  fill: #8b77e6;
}

.cls-13,
.cls-6 {
  fill: #e4ebf7;
}

.cls-10,
.cls-11,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-6,
.cls-7 {
  fill-rule: evenodd;
}

.cls-27,
.cls-7 {
  fill: #a9d8fb;
}

.cls-8 {
  fill: #278bd5;
}

.cls-34,
.cls-9 {
  fill: #bbbbf6;
}

.cls-10 {
  fill: #8dcfff;
}

.cls-11 {
  fill: #f4f5f9;
}

.cls-12,
.cls-14 {
  fill: #0091ff;
}

.cls-15 {
  fill: #c7e7ff;
}

.cls-16 {
  fill: #597bf5;
}

.cls-17 {
  fill: #2f48d3;
}

.cls-18 {
  fill: #b1aec1;
}

.cls-19 {
  fill: #31275b;
}

.cls-20 {
  fill: #e76d60;
}

.cls-21 {
  fill: #fff;
}

.cls-22 {
  fill: #fcb187;
}

.cls-23 {
  fill: #f49677;
}

.cls-24 {
  fill: #443572;
}

.cls-25 {
  fill: #4f4d6e;
}

.cls-26 {
  fill: #fcccb1;
}

.cls-28 {
  fill: #ded8f9;
}

.cls-29 {
  fill: #f1effd;
}

.cls-30 {
  fill: #78c6ff;
}

.cls-31 {
  fill: #5ebafe;
}

.cls-32 {
  fill: #dbdbfd;
}

.cls-33 {
  fill: #e1f2ff;
}

.cls-35 {
  fill: #94d1ff;
}
.illus-1 svg {
  width: 960px;
  height: 900px;
  margin-left: -270px;
  margin-top: -70px;
  position: fixed;
  z-index: -1;
}

.illus-2 img {
  height: 100%;
  position: fixed;
}
