.assessment-wrapper{
    overflow: hidden;
}
.forgot-password-container{
    text-align: center;
    margin-left: -50px;
    margin-top: -10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.svg-bottom{
    position: fixed;
    top: 0px;
    height: 100vh;
}
.svg-top{
    position: fixed;
    top: 0px;
    margin-top: 100px;
    height: 100vh;
}
.cordial
{
    font-size: 20px;
}
.password-recovery-heading{
    font-weight: 200;
    margin-bottom: 50px;
    font-size: 70px;
    max-width: 500px;
    margin-left: 10%;
}
.instruction{
    color: #9C8B8B;
    font-size: 25px;
}

.change-password-form{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    justify-content: center;
    padding-left: 20%;
}
.email-label{
    margin-top:20px ;
    font-size: 15px;
    margin-bottom: 7px;
}
.password-input{
    width: 70%;   
    background: white;
    border-radius: 30px;
    border: 1px lightgrey solid;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.password-reset-button{
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background: #ff4000;
    color: white;
}