@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.card-container{
    display: flex;
    flex-direction: column;
}
.projects-container{
    padding:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 1;
    margin-top: 30px;
}

.project-row{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 347px;
    height: 103px;
    left: 38px;
    top: 149px;
    background: #F5F5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
}

.showMoreProject{
background: #F5F5FF;
box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
width: 347px;
height: 52px;
border: none;
}

.projectImage{
   margin-top: 15px;
    width: 76px;
    height: 76.81px;
    background: #4F51C0;
    border-radius: 63px;
    margin-left: 5px;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.actual-image{
    width: 76px;
    height: 76.81px;
    padding: 5px;
    padding-bottom: 20px;
}
.projectTitle{
    max-width: 260px;
    font-family: Roboto;
    font-style: normal;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #393939;
    text-align: left;
    margin-left: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration-line: none;
    border-radius: 300px;
}

.company-container{
    justify-content: center;
    text-align: center;
    height: 80vh;
}

.decoration{
    position: relative;
    z-index: -1;
    margin-top: -180px;
    margin-right: -1000px;
    display: none;
}


.project-row:hover{
    background: #ffdd83;
    width: 360px;
    font-size: 24px;

}

.projectTitle:hover{
    font-size: 24px;
}

@media screen and (max-width:1210px)
{
 
.company-container{
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: none;
    height: 100%;
    max-height: 110%;
    max-width: none;
    padding-top: 10px;
    padding-bottom: 20px;
}  
.decoration{
    position: fixed;
    z-index: -1;
    bottom: -150px;
    left: 150px;
    display: flex;
}
.project-row{
    margin: 10px;
}

/* div.project:nth-child(odd) {
    background: #FEE9CE;
} */
}